.nav-logo {
  width: 200px;
  padding: 10px
}

nav {
  padding: 0 30px; }

.nav-item {
  margin: 0 10px; }

.jumbotron {
  padding: 20vh;
}

.jumbo-header {
  font-weight: 500;
}

.after-wave {
  background-color: #ff5843;
}

.after-wave p, .after-wave h2{
  color: #fff;
}

.after-wave a {
  color: #fff;
  text-decoration: none;
}

.col-group p {
  font-size: 18px;
}

.col-group h2 {
  font-size: 35px;
  font-weight: 600;
}


.col-group {
  max-width: 80%;
  margin: auto;
}

.col-image {
  max-width: 60%;
  margin: auto;
}

.footer-basic {
  padding: 20px;
  margin-top: 50px;
}