/*Lato font*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&display=swap");
/*DM sans font*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
/*Common colours*/
/*Black and white*/
/*Red*/
/*Green*/
/*Blue*/
/* Elements */
h1,
h2,
h3,
h4,
h5 {
  color: #333333;
  font-family: "DM Sans", sans-serif; }

p {
  color: #333333;
  font-family: "Lato", sans-serif; }

body {
  text-align: center; }
