{% extends 'base.html' %}{% block content %}{% include 'dashnav.html' %}
<div class="full-main">
  <h1>Your Personality</h1>
  <form class="form-signin pt-5" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-group" ondblclick="playAudio('myers')">
      <label for="username">Myers–Briggs:</label>
      {{ form.myers(size=32, class_="form-control", placeholder="INTP" ) }}
    </div>
    <div class="form-group" ondblclick="playAudio('int')">
      <label for="username">Interests:</label>
      {{ form.interests(size=32, class_="form-control", placeholder="Baking" ) }}
    </div>
    <div class="form-group" ondblclick="playAudio('sports')">
      <label for="username">Sports:</label>
      {{ form.sports(size=32, class_="form-control", placeholder="Soccer" ) }}
    </div>
    <div class="form-group" ondblclick="playAudio('songs')">
      <label for="username">Songs:</label>
      {{ form.songs(size=32, class_="form-control", placeholder="T Swift" ) }}
    </div>
    <div class="form-group" ondblclick="playAudio('lang')">
      <label for="username">Languages:</label>
      {{ form.languages(size=32, class_="form-control",
      placeholder="French" ) }}
    </div>
    <div class="form-group" ondblclick="playAudio('food')">
      <label for="username">Favourite Food:</label>
      {{ form.food(size=32, class_="form-control",
      placeholder="Apples" ) }}
    </div>
    <div class="form-group" ondblclick="playAudio('otheract')">
      <label for="username">Other Activities:</label>
      {{ form.otherActivities(size=32, class_="form-control",
      placeholder="Exploring" ) }}
    </div>
    <p>{{ form.submit(class="btn btn-lg btn-dark btn-block m-2") }}</p>
  </form>
  <div class="progress">
    <div
      class="progress-bar"
      role="progressbar"
      style="width: 33%"
      aria-valuenow="33"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
  <br />
</div>
{% endblock %}
